* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    /*  -webkit-text-size-adjust: none; */
    /*  font-size: 14px; */
}


/* 页面内容区域 */

.page-container {
    width: 1920px;
    height: 1080px;
    background: #040C5A;
    position: relative;
}

.block-show-1 {
    display: block!important;
    animation: showDialog-1 1.5s linear 1;
}

.block-show-2 {
    display: block!important;
    animation: showDialog-4 1.5s linear 1;
    /* transform: translate(0, 0) scale3d(0.4, 0.4, 1); */
}

.block-show-3 {
    display: block!important;
    animation: showDialog-3 1.5s linear 1;
}

.block-show-4 {
    display: block!important;
    animation: showDialog-2 1.5s linear 1;
}

.block-show-5 {
    display: block!important;
    animation: showDialog-5 1.5s linear 1;
}

.block-show-6 {
    display: block!important;
    animation: showDialog-6 1.5s linear 1;
}

.block-hidden {
    display: none!important;
}

.back-show {
    display: block!important;
    animation: showDialogBack 0.5 linear 1;
}

.wrap-list {
    width: 100%;
    height: 100%;
}

.wrap-list li {
    list-style: none;
    width: 50%;
    height: 50%;
    float: left;
}

.wrap-list iframe {
    width: 100%;
    height: 100%;
}

.wrap-big {
    transform: scale3d(2.0408, 2.0408, 1);
    z-index: 9999;
}

.wrap-content {
    width: 100%;
    height: 100%;
}


/* 弹窗效果page-dialog */

.page-dialog {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}

.page-dialog #iframe {
    width: 100%;
    height: 100%;
    display: none;
}

@keyframes showDialog-1 {
    0% {
        opacity: 0;
        transform: translate(-500px, -370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialog-2 {
    0% {
        opacity: 0;
        transform: translate(500px, -370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialog-3 {
    0% {
        opacity: 0;
        transform: translate(-500px, 370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialog-4 {
    0% {
        opacity: 0;
        transform: translate(500px, 370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialog-5 {
    0% {
        opacity: 0;
        transform: translate(500px, 370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialog-6 {
    0% {
        opacity: 0;
        transform: translate(500px, 370px) scale3d(0.8, 0.8, 1);
    }
    45% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    55% {
        opacity: 0.7;
        transform: translate(0, 0) scale3d(0.4, 0.4, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale3d(1, 1, 1);
    }
}

@keyframes showDialogBack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

#box1 {
    width: 1920px;
    height: 1080px;
    transform: scale3d(0.5, 0.5, 1);
    margin-top: -270px;
    margin-left: -480px;
}

#box2 {
    width: 1920px;
    height: 1080px;
    transform: scale3d(0.5, 0.5, 1);
    margin-top: -270px;
    margin-left: -480px;
}

#box3 {
    width: 1920px;
    height: 1080px;
    transform: scale3d(0.5, 0.5, 1);
    margin-top: -270px;
    margin-left: -480px;
}